@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Noto+Serif&family=Source+Sans+Pro&display=swap');

.blogcontainer h1{
    font-family: 'Inconsolata', monospace;
    font-family: 'Noto Serif', serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 25px;
}
.blogitem{
    margin: 20px;
    font-family: 'Noto Serif', serif;
}

.blogitem h2{

}