.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.blog h2{
    text-align: center;
}
.b1{
    background-color: bisque;
    margin: 1rem;
    padding: 1rem;
    border-radius: 9px;
    line-height: 1.4rem;
    box-shadow: 1rem 1rem 1rem rgb(212, 75, 75);
}
.read-more-btn{
    color: red;
}
.read-more-text{
    display: none;
}