@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Noto+Serif&family=Source+Sans+Pro&display=swap');

/* contact.html css */
.contactform{
    font-family: 'Noto Serif', serif;
    background-color: rgba(237, 33, 33, 0.307);
    margin: 100px;
    border-radius: 50px;
}

.contactform form div{
    padding: 9px 0;
    display: flex;
    flex-direction: column;
    margin: 0 150px  ;
}

.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0;
    padding: 3px;
}

.contactform h1{
    font-family: 'Noto Serif', serif;
    text-align: center;
    padding-top: 70px;
}

.contactform form button{
    margin: 0 400px 20px;
    padding: 9px 14px;
    background-color: rgb(201, 60, 97);
    color: rgba(245, 245, 245, 0.832);
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

.contactform form button:hover{
    color: darkcyan;
    background-color: whitesmoke;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 20px;
    margin: 3px 0;

}

textarea{
    border-radius: 9px;
}

label{
    font-family: 'Inconsolata', monospace;
    font-family: 'Source Sans Pro', sans-serif;
}

#emailHelp{
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
}
/* contact.html css end  */