* {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(222, 207, 207);
}

/* //////sidebar code //////// */
.sidebar {
  display: none;
  border: 5px solid black;
  width: 20%;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 2px solid blue; */
}

.sidebar ul li {
  margin: 12px;
  text-align: center;
  border-bottom: 2px solid rgb(219, 179, 179);
}

.sidebar ul li a,
.icon {
  /* border: 2px solid red; */
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(40, 31, 31);
}

.icon,
.sidebar ul li a:hover {
  padding-left: 1rem;
  font-size: 1.8rem;
  color: darkcyan;
}

.icon {
  padding-right: 10px;
}

/* ///////////sidebar code end//////////  */

.profilepic {
  /* border: 5px solid blueviolet; */
  /* background-color: rgba(234, 104, 104, 0.307); */
  width: 100%;
  text-align: center;
  /* overflow-y: scroll; */
}

.profilepic h2,
h1,
h3,
p,
img {
  margin-bottom: 12px;
}

.profilepic img {
  max-width: 20%;
}

.btn {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn a {
  margin: 0 3px;
  padding: 8px 12px;
  background-color: rgb(201, 60, 97);
  color: rgba(245, 245, 245, 0.832);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.btn a:hover {
  color: darkcyan;
  background-color: rgb(205, 178, 223);
  font-size: 1.2rem;
  transition: 0.5s;
}

.hamburger {
  display: none;
}

.project{
  /* border: 5px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}

.p1{
  border: 2px solid rgb(177, 108, 108);
  margin: 8px 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 5.5rem;
  box-shadow: 5px 5px 5px rgb(221, 11, 67);
  transition: 1s;
}

.p1:hover{
  transform: scale(1.05);
}

.mg{
  margin: 5px 0;
}

/* ////////////hamburger code/////////// */



@media screen and (max-width: 950px) {
  .sidebar {
    display: none;
    width: 60%;
    transition: transform .3s ease-in-out;
    /* position: absolute; */
  }

  .profilepic {
    /* display: none; */
    width: 100%;
  }

  .hamburger {
    display: flex;
    position: absolute;
    justify-content: space-between;
    justify-items: center;
    width: 60%;
    top: 5px;
    left: 10px;
    cursor: pointer;
  }

  .cross {
    display: none;
    /* margin-left: 200px; */
    /* position: absolute; */
  }
}

/* ////////////hamburger code end/////////// */